
* {
	margin:0;
	padding:0;
}


.guiTreeOn{color:black; font-weight:bold;}
.guiTreeGrayed{color:gray; font-weight:normal;}



.hand { cursor: pointer; }

.data {font:normal 12px courier;}

#entryFormTable{
	margin:0px; 
	spacing:5px; 
	padding:5px; 
	height:400px; 
	width:700px; 
	background: #eee;
	#border: 1px solid gray; 
}

.colorCell {
	font: normal 9px arial; 
	width:20px; 
	height:20px; 
	border:1px solid black;
	
}

.colorCell:hover {
	border:1px solid white;
	cursor:pointer;
}


.msgErr {font:bold 12px arial; padding:0px 0px 0px 10px; background:#900; color:white;}
.msgSuccess {font:bold 12px arial; background:green; color:white;}
	
.dateElem{
	border:1px solid gray;
	background:#eee;
	border-radius: 5px;
}


a.buttonLink, form a{
	font-weight:normal;
	font-size: 12px;
	cursor:pointer;
	padding: 0px 10px;
	text-decoration: none;
	border: solid 1px #aaa;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	background-image: -moz-linear-gradient(top, #eee, #ddd);
#	background: #333;
#	color: white;
	border-radius: 5px;
}


.switch{
	padding: 0px 0px 0px 10px;
	color:#a40;
	cursor:pointer;
}


[name=existingDate]{
	padding :1px;
}

form button.small{
	height: 19px;
	padding: 0px 10px 0px 10px;
}


form input[type=submit], a[type=button], button {
	font-weight:normal;
	font-size: 12px;
	cursor:pointer;
	padding: 10px;
	text-decoration: none;
	border: solid 1px #aaa;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	border-radius: 5px;
}

form.neatForm label{
	float:left;
	width:120px;
	font-weight:bold;

}

.neatForm70 label{
	float:left; width:70px; font-weight:bold;
}

.neatForm70 input{
	clear:both;
}

.neatForm80{
	float:left; width:80px; font-weight:bold;
}

.neatFormNormal label {
    display: inline;
    padding-left: 15px;
    vertical-align: middle;
}
.neatFormNormal input {
    width: 100px;
    height: 15px;
    padding: 1px;
    margin:1px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
}



ul.buttonList {
	list-style:none;
}

ul.buttonList li{
	float:left;
	display;inline;
	font-weight:normal;
	cursor:pointer;
	padding: 0px 10px;
	text-decoration: none;
	border: solid 1px #aaa;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
}


ul.buttonList li a{
	font-weight:normal;
	font-size: 12px;
}

ul.buttonList li.indent{
	border: inset 1px #aaa;
	background:lightgray;
}

ul.buttonList li:first-child{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

ul.buttonList li:last-child{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}




.toggleSwitch{
	background: -webkit-gradient(linear, left top, left bottom, from(#339cea), to(#3356af));
	margin:1px;
	padding:2px;
	color:white;
}

.hilite{
	border-style:solid;
	border-color:red;
	border-width:1px;
	background:pink;
}

.flashClass{
	color:white;
	background:#900;
	width:100%;
}

/** General Style Info **/

a {
	color: #003d4c;
	#color: #884400;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}
/* grayed-out links */
.inactiveLink {
	color: #777777;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}

.selectedInactiveLink {
	color: #a60;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}



a:hover {
	color: #367889;
	text-decoration:none;
}

a.prevnext{
	color: #aa7733;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
 }
 
a.prevnext:hover {
	color: #cc8844;
	text-decoration:none;
}

.checkbox
{
	float: left;
}


div.simpleSectionLight {
	width: 450px;
	border: solid 1px lightgray;
	border-radius: 4px;
	padding: 15px 15px 15px 15px;
	background:#f9f9f9;
}


div.simpleSection {
	width: 400px;
	border: solid 1px lightgray;
	border-radius: 4px;
	padding:5px;
	background:#eee;
}


div.formSection {
	width: 400px;
	border: solid 1px lightgray;
	border-radius: 4px;
	padding:5px;
	background:#eee;
}

div.formSection label {
	float:left;
	width:100px; 
	font-weight:normal;
}
form input {
	margin:2px;
}

form label.orderlyLabel {
	float:left;
	width:100px; 
}

form table td{
	margin:5px; 
	spacing:5px; 
	padding:5px; 
	align:left; 
	width:250px;
}


a img {
	border:none;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom: 0.5em;
}
h1 {
	background:#fff;
	color: #003d4c;
	font-size: 100%;
}
h2 {
	font: bold 15px arial;
}
.white{color:white;}
h4 {
	color: #993;
	font-weight: normal;
}

/** Layout **/
#container {
	text-align: left;
}

body {
	background:lightgray;
	background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#ddd));
	background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
	#background: #003d4c;
	#background: black;
	color: #fff;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:90%;
	margin: 0;
	height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#header{
	background:gray;
	padding: 10px 20px 0px 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#ccc));
	background-image: -moz-linear-gradient(top, #ccc, #eee);
	
}

#header a {
	color: black;
	text-decoration: none;
}
#header a:hover {
	color: #fff;
}

#header h3{
	font:bold 24px courier; 
	color:black; 
	float:left;
}

#content{
	background: #fff;
	clear: both;
	color: #333;
	padding: 10px 20px 0px 20px;
	#overflow: auto;
}

#footer {
	clear: both;
	padding: 6px 5px;
	text-align: right;
}

/** containers **/
div.form,
div.index,
div.view {

	float:right;
	width:76%;
	border-left:1px solid #666;
	padding:10px 2%;
}
div.actions {
	float:left;
	width:16%;
	padding:10px 1.5%;
}
div.actions h3 {
	padding-top:0;
	color:#777;
}


/** Tables **/

/*
table, td, tr, thead, tfoot, tbody, th, tf { 
border-collapse: collapse; 
margin: 0px; 
padding: 0px;
*/


#mainTable {
	margin-left:auto; 
	margin-right:auto; 
	width:1200px; 
	height:100%;
	background:white;
}

table {
	border-collapse: collapse; 
	padding: 0;
	spacing: 0;
	margin: 0;
	clear: both;
	margin-bottom: 0px;
}


table.calendarHdr{
}


.calendarSubHdr{
	background-color:gray; 
	color:white; 
}

.subHdr{
	font:bold 14px helvetica; 
	color:black
}

table tr td {
	text-align: left;
	vertical-align: top;
	padding: 0;
	spacing: 0;
	margin: 0;	
}

table tr:nth-child(2n) td {
#	background: #f5f5f5;
}
table .altrow td {
#	background: #f5f5f5;
}


.entryLink {font:bold 10px arial;}



table.calendarHdr{
	background: #000;
	vertical-align: top;
	width:100%;
}

td.calendarHdr{
	background: #000;
	text-align: center;
	vertical-align: top;
	border-style:none;
	padding-bottom:2px;
	padding-top:2px;
}



td.calendarCell{
	border: 1px solid #ccc;
	padding: 0px;
	width: 120px;
	height: 70px;
	background:white;
}

td.calendarCell div.monthCellHdr{
	margin:1px;
}

td.calendarCell div.monthCellHdr:hover{
	background:#f5f5f5;
	margin:0px;
	border:1px solid gray;
}

div.monthCellHdr .arrow{
	display:none;
}

div.monthCellHdr:hover .arrow{
	display:inline;
}

div.monthCellHdr  .arrow:hover{
	cursor:pointer;
}



td.todayCell{
	border-style:solid; 
	border-width:2px; 
	border-color:red; 
	background-color:pink;
}

td.outOfMonthCell{
	background-color:lightgray;
}

td.todayCell{

}


td.calendarCell:hover{
	background: #e5e5f5;
}



.weekdayHdr{
	font:bold 14px helvetica; 
	color:black;
	background: lightgray;
}

td.hourCellWeekView{
	font: normal 10px arial;
	background:white;
	border-bottom: 1px solid lightgray;
	padding: 2px 0px 4px 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width:50px;
}



table.weektable tr.hourCellRow:nth-child(odd) td.hourCellWeekView {
	background: #fff0b0;
}

td.hourCellWeekView+td.hourCellWeekView{
	border-left: 1px solid lightgray;

}

.hourCellWeekView:hover{
	background: #eee;
}

.spacerCellWeekView{
	width:5px;
}


.spacerCellDayView{
	width:5px;
}



td.hourCell, .hourCellHdr{
	border: 1px;
	border-style:solid;
	border-color:gray;
	border-color:#eee;
	padding: 0px;
	width: 120px;
	height: 35px;
	background:white;
}

td.hourCell:hover, .dlg_hour_cell:hover {
	background: #f5f5f5;
}




.dlg_day_view_table{background:white; width:250px;}
.dlg_day_view_hdr{background:black; color:white; font:bold 14px helvetica; width:100%; }
.dlg_day_view_hdr td{padding:5px;}
.dlg_hour_cell {background:white; width:30%;
		border-bottom-width:1px;
		border-bottom-style:solid;
		border-bottom-color:lightgray;
		border-left-width:1px;
		border-left-style:solid;
		border-left-color:lightgray;
		}
.dlg_hour_cell_hdr{color:gray; background:#fff7c2; font:bold 11px helvetica; width:100%; width:20%;
		border-bottom-width:1px;
		border-bottom-style:solid;
		border-bottom-color:lightgray;
		border-left-width:1px;
		border-left-style:solid;
		border-left-color:lightgray;
		}
.dlg_all_day_cell{
	font:bold 11px helvetica;
	background:#f96;}



tr.hourCellRow:nth-child(odd) td.hourCell,
tr.hourCellRow:nth-child(odd) td.hourCellHdr
{
	background: #fff0b0;
}

.noOverflowDiv{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}





/** Forms **/

form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
	font-size:12px;
}


input, textarea {
	clear: both;
	font-size: 100%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	
}

/** Notices and Errors **/
div.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	background: #c73e14;
	padding: 5px;
}
div.error-message {
	clear: both;
	color: #fff;
	font-weight: bold;
	background: #c73e14;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

/**  Actions  **/
div.actions ul {
	margin: 0;
	padding: 0;
}
div.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
div.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}
div.actions ul li a:hover {
	text-decoration: underline;
}

input[type=submit] { display: inline-block; 
	position: relative; 
	padding: 0; 
	margin-right: .1em; 
	text-decoration: none !important; 
	cursor: pointer; 
	text-align: center; 
	zoom: 1; 
	overflow: visible; } /* the overflow property removes extra width in IE */


div.actions ul li a, td.actions a {
	font-weight:normal;
	padding: 4px 8px;
	background:#e6e49f;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1d4), to(#e6e49f));
	background-image: -moz-linear-gradient(top, #f1f1d4, #e6e49f);
	color:#333;
	border:1px solid #aaac62;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	text-decoration:none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
}
input[type=submit]:hover,
div.actions ul li a:hover,
td.actions a:hover {
	background: #f0f09a;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7e1), to(#eeeca9));
}

/** Related **/
div.related {
	clear: both;
	display: block;
}

/** Debugging **/
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}


.dialogWithDropShadow
{
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}





